{% extends "base.html" %}

{% block content %}

<h1>Login </h1>

<form action="login" method="post">
    {% csrf_token %} 
    <div>
     <!--   <div>Enter Username</div> 
        <input type="text" name="username" placeholder="Username"><br>
        <div>Enter Password</div> 
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit"></div>  -->

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="username">
        
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>
<script>
    {% if messages %}
        // Loop through all messages and display them in an alert
        {% for message in messages %}
            alert("{{ message }}");  // This will create a popup alert
        {% endfor %}
    {% endif %}
</script>
    {% endblock %} 